body,ul,li,h1,h2, a{
    margin: 0;
    padding: 0;
    font-family: Arial;
   
}

header h1{
    background-color: blueviolet;
    color: white;
    padding: 40px;
    text-align: center;
    margin: 10px;
    font-size: 1em;
}
.banner img{
    width: 100%;
    border-radius: 2rem;
}
.banner div.Welcome{
   background-color: rgba(219, 235, 251, 0.879);
    position:absolute;
    top: 15rem;
    left: 0px;
    width: 850px;
    height: 500px;
    border: 2px solid white;
    color: blueviolet;
}
.banner div.Welcome h1{
    display: inline;
    width: 100%;
    font-size: 1em;
    line-height: 1ex;
    padding: 2px;
}
.banner div.Welcome p{
    padding: 2rem;
    display: inline;
    width: 1ch;
    left: 0px;
    text-align: center;
    font-size: 0.5em;
    line-height: 1ex;
}
nav.main-nav{
    background-color: rgba(219, 235, 251, 0.879) ;
    position: sticky;
    width: 100%;
    top:0px;
    font-size: 1em;
}
nav.main-nav ul{
   text-align: right;

}
nav.main-nav ul li{
    display: inline-block;
    margin: 0.5em;
}
nav.main-nav ul li.join{
    color: white;
    background-color: rgb(171, 79, 237);
    border-radius: 10px;
    font-size: 0.9em;
    position: absolute;
    left: 0px;
    text-align: left;
    width :20%;
    margin: 10px;
}
nav.main-nav ul li a{
    color: rgb(171, 79, 237);
    border-radius: 5px;
    font-size: 0.5em;
    text-align: right;
    width :100%;
    padding: 0.5em;
    display: block;
}
main article{

 margin: 10px;
 padding: 20px;
 display: block;
 border: 1px solid rgba(219, 235, 251, 0.879) ;
 border-radius: 10px;
}
main article h2{
    font-size: 1em;
}
main article h3{
    font-size: 0.5em;
}
main article p{
    font-size: 0.5em;
}

section.join{
    background-color: #f4f4ff;
    text-align: center;
    padding: 20px 10px;
   
    color: #4b4b4b;
}
.join h2{
    font-size: 1em;
}
.join ul li a{
    font-size: 0.5em;
}
form input{
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border:  solid rgb(28, 27, 27);
}
footer{
    background-color: rgb(171, 79, 237);
    margin: 0;
    padding: 10px;
    text-align: center;
}
nav.main-nav ul li a:hover{
    background-color:rgb(171, 79, 237);
    color: white;
}
p::selection{
    background-color: rgb(171, 79, 237);
    color: white;
}
form input:valid{
    border: 1px solid rgb(171, 79, 237);
    outline: none;
}
form input:invalid:hover{
    border: 2px solid rgb(171, 79, 237);
    outline: none;
}

@media screen and (max-width:2200px) {
   body{font-size: 55px;}
   .banner div.Welcome{
    width: 800px;
    height: 450px;
   }
}
@media screen and (max-width:1950px) {
    body{font-size: 53px;}
    .banner div.Welcome{
        width: 700px;
        height: 400px;
       }
    }

 @media screen and (max-width:1800px) {
    body{font-size: 50px;}
    .banner div.Welcome{
        width: 650px;
        height: 400px;
       }
    }
   
 @media screen and (max-width:1700px) {
    body{font-size: 48px;}
 }
 @media screen and (max-width:1650px) {
    body{font-size: 50px;}
    .banner div.Welcome {
        position: static;
        top: 1rem;
        display:block;
        width: 100%; /* Set the width to 100% */
        max-width: 100%;
        margin: 20px;
        border: 2px solid white;
        border-radius: 25px;
        height: 250px;
    }
    .banner div.Welcome p{
      margin: 0px;
      padding: 0px;
    }
    nav.main-nav ul li.join{
        font-size:0.8em;
        margin: 10px;
    }
    nav.main-nav ul li a{
        font-size:0.4em;
    }

 
}
@media screen and (max-width:1550px) {
    body{font-size: 43px;}
    nav.main-nav ul li.join{
        padding: 20px;
        font-size:0.5em;
    }
    nav.main-nav ul li a{
        font-size:0.4em;
    }

}
@media screen and (max-width:1200px) {
    body{font-size: 42px;}
    nav.main-nav ul li.join{
        font-size:0.5em;
    }
    nav.main-nav ul li a{
        font-size:0.4em;
    }

 }
 @media screen and (max-width:1170px) {
    body{font-size: 41px;}
    nav.main-nav ul li.join{
        font-size:0.4em;
    }
    nav.main-nav ul li a{
        font-size:0.5em;
    }
    .card-body {
        padding: 10px;
    }
    .card-title.card-subtitle.card-text ul li{
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.

    }

 }
 
 @media screen and (max-width:975px) {
    body{font-size: 41px;}
    nav.main-nav ul li.join{
        font-size:0.5em;
        margin: 0.5em;
    }
    nav.main-nav ul li a{
        font-size:0.4em;
    }
    div .row.pricing-tags{
        width: 100%;
    }

    
    }
    @media screen and  (max-width: 932px){
        .col-md-4 {
         width: 100%;
         max-width: 50%;
            /* max-width: 33.333333%; */
    }
}
   
    @media screen and (max-width:860px) {
        body{font-size: 40px;}
        nav.main-nav ul li.join{
            font-size:0.4em;
            margin: 0.5em;
        }
        .banner div.Welcome {
            padding-right: 0px;
            margin: 10px;
        
        }
    }
 
    @media screen and (max-width:730px) {
        body{font-size: 35px;}
        nav.main-nav ul li.join{
         width: 30%; 
         
        }
    }
    @media screen and  (max-width: 620px){
        .col-md-4 {
         width: 100%;
        max-width: none;
            /* max-width: 33.333333%; */
    }
}
    @media screen and (max-width:550px) {
        body{font-size: 30px;} 
         nav.main-nav ul li.join{
            margin: 0.4em;   
           }
    }
    @media screen and (max-width:390px) {
        body{font-size: 28px;} 
        nav.main-nav ul li.join{
            margin: 1em; 
            padding: 0.5em;
           }
    }